<script lang="ts">
	import { onMount } from 'svelte';
	import { ListUsers } from './../output.ts';
  
	$: query = ListUsers({});
	$: console.log($query);
	// import { accessToken } from '../stores.js';
	// import LoginForm from "../components/LoginForm.svelte"	
</script>


<svelte:head>
	<title>Login</title>
</svelte:head>

<!-- <LoginForm/> -->


