<br />
<main class="cards">
  <div class="card">
    <h2>SpaceX all launches</h2>
    {#if $query.loading}
      <div>loading</div>
    {:else}
      {#each $query.data.Users as user, i}
        <div>{user.id}</div>
      {/each}
    {/if}
  </div>
</main>

<script lang="ts">
  import { onMount } from 'svelte';
  import { ListUsers } from './../output.ts';

  $: query = ListUsers({});
  $: console.log($query);
</script>

<style>
  .cards {
    display: flex;
    justify-content: space-around;
  }

  .card {
    padding: 10px;
    background-color: rgb(173, 196, 178);
    box-shadow: 10px 5px 5px #ff3e00;
  }
</style>
