<script>
    import { accessToken } from '../stores';

    async function handleSubmit(event) {
        let interfaceId = event.target.interface.value;
        let email = event.target.email.value;
        let password = event.target.password.value;
        
        const response = await fetch("http://localhost:8080/v1/graphql", {
            method: "POST",
            credentials: "include",
            headers: {
                "Content-Type": "application/json",
                "x-hasura-admin-secret": "adminsecret",
            },
            body: JSON.stringify({
                query: `mutation {
                login(email: "${email}", interface: ${interfaceId}, password: "${password}") {
                    token
                }
                }`,
            }),
        })
            .then((res) => res.json())
            .then((res) => accessToken.update(n => res.data.login.token));
    }
</script>

<form on:submit|preventDefault={handleSubmit}>
    <input type="hidden" name="interface" value=1 />
    <label for="email">Email</label>
    <input type="text" name="email" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <button type="submit"> Submit </button>
</form>
